# Turning Ebay Used Car Sales Data Into Insights

Are you in the market for a used car and want to know what to expect? 

Or maybe you are a dealership looking to gain insights into the German used car market.

Look no further than this project analyzing a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website. 

With 50,000 data points, this dataset provides a comprehensive look at the German used car market and includes information on vehicle type, price, transmission type, power, fuel type, brand, and more. 

I'll be cleaning the data and conducting analysis to gain valuable insights. 

Get ready to uncover the secrets of the German used car market and make informed decisions with the power of data.

In [177]:
# import libraries

import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
# read in data


autos = pd.read_excel('autos.xlsx')

In [72]:
autos.info()

autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  datetime64[ns]
 1   name                 50000 non-null  object
 2   seller               49948 non-null  object
 3   offerType            49948 non-null  object
 4   price                49948 non-null  object
 5   abtest               49948 non-null  object
 6   vehicleType          44859 non-null  object
 7   yearOfRegistration   49948 non-null  float64
 8   gearbox              47270 non-null  object
 9   powerPS              49948 non-null  float64
 10  model                47193 non-null  object
 11  odometer             49948 non-null  object
 12  monthOfRegistration  49948 non-null  float64
 13  fuelType             45470 non-null  object
 14  brand                49948 non-null  object
 15  notRepairedDamage    40134 non-null  object
 16  dateCreated          49948 non-null  datetime64[ns]
 17  nrOfPictures         49948 non-null  float64
 18  postalCode           49948 non-null  float64
 19  lastSeen             49948 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(5), object(12)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004.0,manuell,158.0,andere,"150,000km",3.0,lpg,peugeot,nein,2016-03-26,0.0,79588.0,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997.0,automatik,286.0,7er,"150,000km",6.0,benzin,bmw,nein,2016-04-04,0.0,71034.0,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009.0,manuell,102.0,golf,"70,000km",7.0,benzin,volkswagen,nein,2016-03-26,0.0,35394.0,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007.0,automatik,71.0,fortwo,"70,000km",6.0,benzin,smart,nein,2016-03-12,0.0,33729.0,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003.0,manuell,0.0,focus,"150,000km",7.0,benzin,ford,nein,2016-04-01,0.0,39218.0,2016-04-01 14:38:50

In [73]:
autos.shape

(50000, 20)

### Observations on the dataset

Our dataset contains 50k rows and 20 columns. The majority of the columns are stored as strings (object). Except for "dateCrawled" and "name", all the columns contain some null values. A number of columns need to be recast as different data types. Column names use camelcase instead of Python's preferred snakecase.

In [74]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [75]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_pictures', 'postal_code',
       'last_seen']

In [76]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004.0,manuell,158.0,andere,"150,000km",3.0,lpg,peugeot,nein,2016-03-26,0.0,79588.0,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997.0,automatik,286.0,7er,"150,000km",6.0,benzin,bmw,nein,2016-04-04,0.0,71034.0,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009.0,manuell,102.0,golf,"70,000km",7.0,benzin,volkswagen,nein,2016-03-26,0.0,35394.0,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007.0,automatik,71.0,fortwo,"70,000km",6.0,benzin,smart,nein,2016-03-12,0.0,33729.0,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003.0,manuell,0.0,focus,"150,000km",7.0,benzin,ford,nein,2016-04-01,0.0,39218.0,2016-04-01 14:38:50

I changed several of the column names in our dataframe to enhance clarity and to conform with Python' preferred snake case notation.

## Exploring and Cleaning the Data

In [77]:
autos.describe(include = 'all', datetime_is_numeric = True)

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pictures,postal_code,last_seen
count,50000,50000,49948,49948,49948,49948,44859,49948.000000,47270,49948.000000,47193,49948,49948.000000,45470,49948,40134,49948,49948.0,49948.000000,49948
unique,NaN,38749,2,2,2356,2,8,NaN,2,NaN,245,13,NaN,7,40,2,NaN,NaN,NaN,NaN
top,NaN,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,NaN,NaN,NaN,NaN
freq,NaN,78,49947,49947,1420,25734,12848,NaN,36950,NaN,4019,32393,NaN,30069,10677,35199,NaN,NaN,NaN,NaN
mean,2016-03-21 13:43:25.697280,NaN,NaN,NaN,NaN,NaN,NaN,2005.074317,NaN,116.381016,NaN,NaN,5.723212,NaN,NaN,NaN,2016-03-20 19:40:38.728277504,0.0,50814.064107,2016-03-30 04:05:10.498618624
min,2016-03-05 14:06:30,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,2015-06-11 00:00:00,0.0,1067.000000,2016-03-05 14:45:46
25%,2016-03-13 14:51:25.750000128,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,2016-03-13 00:00:00,0.0,30451.000000,2016-03-23 11:15:32.249999872
50%,2016-03-21 17:53:56,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,2016-03-21 00:00:00,0.0,49571.000000,2016-04-04 01:18:00.500000
75%,2016-03-29 14:36:47.750000128,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,2016-03-29 00:00:00,0.0,71526.500000,2016-04-06 10:45:28.249999872
max,2016-04-07 14:36:56,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,2016-04-07 00:00:00,0.0,99998.000000,2016-04-07 14:58:50
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.767557,NaN,209.316405,NaN,NaN,3.712123,NaN,NaN,NaN,NaN,0.0,25777.230301,NaN

Text columns where all or almost all values are the same can often be dropped as they don't have useful information for analysis.

In our case, seller and offer type are such columns.

We'll definitely need to take a closer look at the price, registration_year, registration_month, odometer, power_ps, postal_code and num_pictures columns.

In [78]:
autos["price"].value_counts()

$0         1420
$500        779
$1,500      732
$2,500      640
$1,200      639
           ...
$414          1
$79,933       1
$5,198        1
$18,890       1
$16,995       1
Name: price, Length: 2356, dtype: int64

In [79]:
# drop rows where prices are null - probably due to problems at the data ingestion stage

bool_prices = autos["price"].notnull()

autos = autos[bool_prices]

In [ ]:
autos.shape # dropped rows

In [80]:
autos["price"] = (autos["price"]
                                  .str.replace("$", "")
                                  .str.replace(",","")
                                  .astype(int)
                 )

C:\Users\Raphael\AppData\Local\Temp\ipykernel_10180\1819823680.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace("$", "")

In [84]:
autos["odometer"].value_counts()

150,000km    32393
125,000km     5163
100,000km     2167
90,000km      1753
80,000km      1436
70,000km      1228
60,000km      1164
50,000km      1025
5,000km        967
40,000km       819
30,000km       788
20,000km       784
10,000km       261
Name: odometer, dtype: int64

In [85]:
autos["odometer"] = (autos["odometer"]
                     .str.replace(",","")
                     .str.replace("km","")
                    )

count      49948
unique        13
top       150000
freq       32393
Name: odometer, dtype: object

In [91]:
autos["odometer"] = autos["odometer"].astype(int)

In [96]:
autos.rename({"odometer":"odometer_km"}, axis = 1, inplace = True)

In [97]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004.0,manuell,158.0,andere,150000,3.0,lpg,peugeot,nein,2016-03-26,0.0,79588.0,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997.0,automatik,286.0,7er,150000,6.0,benzin,bmw,nein,2016-04-04,0.0,71034.0,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009.0,manuell,102.0,golf,70000,7.0,benzin,volkswagen,nein,2016-03-26,0.0,35394.0,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007.0,automatik,71.0,fortwo,70000,6.0,benzin,smart,nein,2016-03-12,0.0,33729.0,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003.0,manuell,0.0,focus,150000,7.0,benzin,ford,nein,2016-04-01,0.0,39218.0,2016-04-01 14:38:50

### Explore Odometer and Price columns

In [99]:
# drop the low interest columns seller, offer_type, num_pictures

autos.drop(["num_pictures", "seller", "offer_type"], axis = 1)

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004.0,manuell,158.0,andere,150000,3.0,lpg,peugeot,nein,2016-03-26,79588.0,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997.0,automatik,286.0,7er,150000,6.0,benzin,bmw,nein,2016-04-04,71034.0,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009.0,manuell,102.0,golf,70000,7.0,benzin,volkswagen,nein,2016-03-26,35394.0,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007.0,automatik,71.0,fortwo,70000,6.0,benzin,smart,nein,2016-03-12,33729.0,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003.0,manuell,0.0,focus,150000,7.0,benzin,ford,nein,2016-04-01,39218.0,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011.0,automatik,239.0,q5,100000,1.0,diesel,audi,nein,2016-03-27,82131.0,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,1980,control,cabrio,1996.0,manuell,75.0,astra,150000,5.0,benzin,opel,nein,2016-03-28,44807.0,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014.0,automatik,69.0,500,5000,11.0,benzin,fiat,nein,2016-04-02,73430.0,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,kombi,2013.0,manuell,150.0,a3,40000,11.0,diesel,audi,nein,2016-03-08,35683.0,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,1250,control,limousine,1996.0,manuell,101.0,vectra,150000,1.0,benzin,opel,nein,2016-03-13,45897.0,2016-04-06 21:18:48

### Look for suspicious data

In [103]:
autos["odometer_km"].unique().shape

(13,)

In [104]:
autos["odometer_km"].describe()

count     49948.000000
mean     125735.765196
std       40040.125086
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

These values are probably created from a drop-down list. It looks to me as if the top odometer selection is 150k and over.

In [107]:
autos["odometer_km"].value_counts().sort_index(ascending = True)

5000        967
10000       261
20000       784
30000       788
40000       819
50000      1025
60000      1164
70000      1228
80000      1436
90000      1753
100000     2167
125000     5163
150000    32393
Name: odometer_km, dtype: int64

In [106]:
autos["odometer_km"].value_counts().head()

150000    32393
125000     5163
100000     2167
90000      1753
80000      1436
Name: odometer_km, dtype: int64

From an odometer perspective, all the used cars in our sample are quite heavily used. The median odometer value of 150k is indicative of that.

If we want to remove outliers, we can use the df[(df["col"] >= x ) & (df["col"] <= y )] syntax, but it's more readable to use df[df["col"].between(x,y)]

For the odometer_km column, there is not apparent outlier that I want to remove.

In [108]:
autos["price"].unique().shape

(2356,)

In [109]:
autos["price"].describe()

count    4.994800e+04
mean     9.845721e+03
std      4.813547e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [110]:
autos["price"].value_counts().sort_index(ascending = True)

0           1420
1            156
2              3
3              1
5              2
            ...
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: price, Length: 2356, dtype: int64

In [113]:
autos[autos["price"] != 99999999]

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004.0,manuell,158.0,andere,150000,3.0,lpg,peugeot,nein,2016-03-26,0.0,79588.0,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997.0,automatik,286.0,7er,150000,6.0,benzin,bmw,nein,2016-04-04,0.0,71034.0,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009.0,manuell,102.0,golf,70000,7.0,benzin,volkswagen,nein,2016-03-26,0.0,35394.0,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007.0,automatik,71.0,fortwo,70000,6.0,benzin,smart,nein,2016-03-12,0.0,33729.0,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003.0,manuell,0.0,focus,150000,7.0,benzin,ford,nein,2016-04-01,0.0,39218.0,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011.0,automatik,239.0,q5,100000,1.0,diesel,audi,nein,2016-03-27,0.0,82131.0,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996.0,manuell,75.0,astra,150000,5.0,benzin,opel,nein,2016-03-28,0.0,44807.0,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014.0,automatik,69.0,500,5000,11.0,benzin,fiat,nein,2016-04-02,0.0,73430.0,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013.0,manuell,150.0,a3,40000,11.0,diesel,audi,nein,2016-03-08,0.0,35683.0,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996.0,manuell,101.0,vectra,150000,1.0,benzin,opel,nein,2016-03-13,0.0,45897.0,2016-04-06 21:18:48

In [156]:
# access the indexes and values of the value_counts series
x_values = autos["price"].value_counts().values.tolist()

y_values = autos["price"].value_counts().index.tolist()
print(sorted(y_values))

[0, 1, 2, 3, 5, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 25, 29, 30, 35, 40, 45, 47, 49, 50, 55, 59, 60, 65, 66, 70, 75, 79, 80, 89, 90, 99, 100, 110, 111, 115, 117, 120, 122, 125, 129, 130, 135, 139, 140, 145, 149, 150, 156, 160, 170, 173, 175, 179, 180, 185, 188, 190, 193, 195, 198, 199, 200, 205, 210, 215, 217, 219, 220, 222, 225, 230, 235, 240, 248, 249, 250, 251, 255, 260, 269, 270, 275, 277, 280, 285, 290, 295, 299, 300, 310, 320, 325, 329, 330, 333, 340, 349, 350, 356, 359, 360, 369, 370, 375, 378, 379, 380, 385, 388, 390, 395, 399, 400, 410, 414, 420, 425, 430, 435, 440, 444, 449, 450, 459, 460, 470, 475, 480, 485, 490, 495, 499, 500, 501, 510, 517, 520, 525, 530, 540, 549, 550, 554, 555, 560, 566, 570, 575, 578, 579, 580, 590, 595, 598, 599, 600, 606, 620, 625, 628, 630, 640, 644, 648, 649, 650, 655, 660, 666, 669, 670, 675, 679, 680, 686, 689, 690, 695, 699, 700, 710, 719, 720, 725, 729, 730, 740, 744, 745, 749, 750, 755, 760, 770, 777, 780, 785, 789, 790, 795, 799, 800, 810, 820, 825, 829, 830, 834, 839, 840, 846, 849, 850, 855, 860, 870, 875, 879, 880, 885, 887, 888, 889, 890, 895, 898, 899, 900, 910, 919, 920, 925, 930, 940, 945, 949, 950, 951, 958, 960, 965, 970, 975, 980, 985, 989, 990, 995, 996, 998, 999, 1000, 1039, 1040, 1049, 1050, 1059, 1070, 1080, 1090, 1095, 1098, 1099, 1100, 1111, 1112, 1119, 1120, 1149, 1150, 1169, 1170, 1180, 1189, 1190, 1195, 1199, 1200, 1201, 1209, 1212, 1221, 1222, 1234, 1240, 1247, 1249, 1250, 1265, 1270, 1275, 1280, 1285, 1290, 1295, 1299, 1300, 1310, 1325, 1330, 1333, 1340, 1345, 1349, 1350, 1355, 1370, 1375, 1379, 1380, 1385, 1390, 1395, 1398, 1399, 1400, 1414, 1420, 1425, 1430, 1432, 1440, 1444, 1448, 1449, 1450, 1466, 1470, 1475, 1480, 1485, 1490, 1494, 1495, 1497, 1498, 1499, 1500, 1520, 1525, 1530, 1545, 1549, 1550, 1555, 1560, 1570, 1575, 1579, 1580, 1590, 1595, 1599, 1600, 1630, 1640, 1642, 1645, 1649, 1650, 1659, 1660, 1666, 1670, 1675, 1680, 1689, 1690, 1695, 1698, 1699, 1700, 1730, 1749, 1750, 1755, 1759, 1760, 1765, 1770, 1775, 1777, 1780, 1790, 1795, 1797, 1798, 1799, 1800, 1820, 1840, 1845, 1849, 1850, 1856, 1860, 1870, 1875, 1880, 1888, 1890, 1895, 1899, 1900, 1906, 1925, 1930, 1933, 1935, 1945, 1949, 1950, 1955, 1960, 1970, 1975, 1980, 1981, 1984, 1985, 1990, 1995, 1996, 1998, 1999, 2000, 2001, 2004, 2033, 2035, 2050, 2070, 2090, 2095, 2099, 2100, 2111, 2128, 2134, 2140, 2149, 2150, 2175, 2180, 2190, 2195, 2199, 2200, 2210, 2222, 2225, 2241, 2245, 2249, 2250, 2265, 2270, 2280, 2288, 2290, 2295, 2299, 2300, 2321, 2333, 2340, 2349, 2350, 2359, 2380, 2390, 2398, 2399, 2400, 2410, 2430, 2444, 2449, 2450, 2455, 2459, 2460, 2470, 2479, 2480, 2490, 2495, 2496, 2498, 2499, 2500, 2549, 2550, 2555, 2569, 2570, 2580, 2589, 2590, 2598, 2599, 2600, 2649, 2650, 2651, 2655, 2660, 2666, 2670, 2671, 2680, 2690, 2695, 2699, 2700, 2725, 2749, 2750, 2775, 2777, 2780, 2785, 2789, 2790, 2798, 2799, 2800, 2849, 2850, 2860, 2870, 2874, 2880, 2888, 2890, 2895, 2899, 2900, 2910, 2920, 2944, 2949, 2950, 2980, 2985, 2986, 2989, 2990, 2993, 2995, 2997, 2998, 2999, 3000, 3001, 3010, 3012, 3020, 3049, 3050, 3055, 3060, 3075, 3080, 3099, 3100, 3111, 3119, 3120, 3122, 3125, 3129, 3149, 3150, 3178, 3180, 3190, 3195, 3199, 3200, 3210, 3211, 3220, 3222, 3230, 3240, 3249, 3250, 3260, 3266, 3279, 3280, 3285, 3290, 3295, 3299, 3300, 3318, 3330, 3333, 3349, 3350, 3360, 3380, 3390, 3395, 3399, 3400, 3410, 3420, 3425, 3444, 3449, 3450, 3455, 3456, 3470, 3475, 3480, 3485, 3490, 3495, 3498, 3499, 3500, 3501, 3540, 3549, 3550, 3555, 3560, 3580, 3589, 3590, 3599, 3600, 3620, 3633, 3650, 3660, 3666, 3670, 3680, 3690, 3699, 3700, 3710, 3725, 3749, 3750, 3760, 3774, 3777, 3780, 3790, 3795, 3799, 3800, 3849, 3850, 3876, 3879, 3880, 3888, 3890, 3895, 3899, 3900, 3940, 3945, 3949, 3950, 3952, 3955, 3957, 3965, 3969, 3970, 3975, 3980, 3989, 3990, 3993, 3995, 3996, 3998, 3999, 4000, 4004, 4005, 4050, 4090, 4099, 4100, 4111, 4123, 4125, 4149, 4150, 4159, 4180, 4190, 4199, 4200, 4201, 4210, 4220, 4222, 4239, 4249, 4250, 4270, 4275, 4279, 4280, 4286, 4290, 4295, 4299, 4300, 4320, 4333, 4335, 4349, 4350, 4390, 4398, 4399, 4400, 4440, 4444, 4450, 4470, 4475, 4480, 4485, 4490, 4495, 4497, 4498, 4499, 4500, 4510, 4525, 4545, 4549, 4550, 4555, 4567, 4580, 4590, 4598, 4599, 4600, 4649, 4650, 4655, 4666, 4680, 4690, 4699, 4700, 4740, 4750, 4755, 4770, 4777, 4780, 4790, 4799, 4800, 4830, 4840, 4850, 4855, 4860, 4877, 4888, 4890, 4895, 4899, 4900, 4949, 4950, 4955, 4980, 4985, 4990, 4994, 4995, 4998, 4999, 5000, 5012, 5015, 5049, 5050, 5099, 5100, 5120, 5150, 5180, 5185, 5190, 5195, 5198, 5199, 5200, 5222, 5248, 5249, 5250, 5255, 5290, 5298, 5299, 5300, 5333, 5350, 5380, 5390, 5399, 5400, 5444, 5450, 5454, 5475, 5485, 5489, 5490, 5495, 5499, 5500, 5540, 5550, 5555, 5590, 5599, 5600, 5634, 5650, 5666, 5685, 5689, 5690, 5695, 5699, 5700, 5740, 5749, 5750, 5790, 5799, 5800, 5849, 5850, 5855, 5870, 5879, 5880, 5888, 5890, 5895, 5899, 5900, 5913, 5924, 5949, 5950, 5980, 5990, 5995, 5997, 5998, 5999, 6000, 6039, 6050, 6099, 6100, 6140, 6149, 6150, 6155, 6170, 6190, 6195, 6199, 6200, 6202, 6208, 6222, 6249, 6250, 6279, 6290, 6295, 6299, 6300, 6333, 6340, 6350, 6389, 6390, 6399, 6400, 6410, 6444, 6447, 6450, 6460, 6470, 6479, 6480, 6490, 6495, 6498, 6499, 6500, 6530, 6543, 6545, 6550, 6578, 6590, 6599, 6600, 6650, 6666, 6680, 6690, 6695, 6699, 6700, 6725, 6745, 6749, 6750, 6755, 6770, 6777, 6790, 6792, 6795, 6799, 6800, 6840, 6849, 6850, 6870, 6879, 6888, 6889, 6890, 6895, 6899, 6900, 6911, 6920, 6940, 6950, 6969, 6970, 6977, 6979, 6980, 6989, 6990, 6995, 6998, 6999, 7000, 7050, 7085, 7099, 7100, 7150, 7190, 7199, 7200, 7234, 7240, 7249, 7250, 7280, 7290, 7295, 7298, 7299, 7300, 7333, 7350, 7373, 7380, 7390, 7395, 7399, 7400, 7420, 7430, 7435, 7449, 7450, 7460, 7470, 7490, 7498, 7499, 7500, 7550, 7555, 7590, 7599, 7600, 7650, 7655, 7680, 7690, 7699, 7700, 7750, 7777, 7790, 7795, 7799, 7800, 7820, 7825, 7840, 7849, 7850, 7880, 7888, 7890, 7899, 7900, 7930, 7949, 7950, 7980, 7985, 7990, 7995, 7999, 8000, 8008, 8050, 8098, 8099, 8100, 8150, 8180, 8190, 8199, 8200, 8222, 8240, 8249, 8250, 8285, 8290, 8299, 8300, 8333, 8345, 8350, 8360, 8390, 8399, 8400, 8419, 8420, 8449, 8450, 8490, 8495, 8499, 8500, 8550, 8555, 8590, 8595, 8599, 8600, 8650, 8655, 8666, 8690, 8699, 8700, 8720, 8730, 8750, 8777, 8790, 8798, 8799, 8800, 8850, 8854, 8875, 8880, 8888, 8890, 8899, 8900, 8930, 8944, 8950, 8970, 8980, 8990, 8995, 8999, 9000, 9050, 9099, 9100, 9130, 9149, 9150, 9190, 9195, 9199, 9200, 9203, 9249, 9250, 9270, 9280, 9290, 9299, 9300, 9325, 9349, 9350, 9390, 9399, 9400, 9450, 9455, 9480, 9490, 9499, 9500, 9550, 9555, 9577, 9590, 9599, 9600, 9650, 9655, 9666, 9690, 9699, 9700, 9725, 9750, 9773, 9777, 9790, 9799, 9800, 9845, 9850, 9870, 9890, 9895, 9899, 9900, 9950, 9970, 9975, 9980, 9989, 9990, 9995, 9998, 9999, 10000, 10009, 10050, 10080, 10090, 10100, 10111, 10150, 10175, 10199, 10200, 10230, 10250, 10280, 10290, 10299, 10300, 10333, 10350, 10390, 10399, 10400, 10450, 10480, 10488, 10490, 10495, 10498, 10499, 10500, 10550, 10555, 10556, 10590, 10599, 10600, 10650, 10666, 10680, 10690, 10699, 10700, 10750, 10777, 10790, 10799, 10800, 10830, 10850, 10880, 10888, 10890, 10899, 10900, 10949, 10950, 10975, 10980, 10988, 10989, 10990, 10995, 10998, 10999, 11000, 11090, 11100, 11111, 11140, 11149, 11150, 11199, 11200, 11240, 11250, 11270, 11299, 11300, 11350, 11360, 11389, 11390, 11399, 11400, 11430, 11448, 11450, 11480, 11490, 11495, 11499, 11500, 11540, 11546, 11550, 11555, 11590, 11599, 11600, 11650, 11666, 11687, 11690, 11699, 11700, 11749, 11750, 11780, 11790, 11799, 11800, 11825, 11850, 11888, 11890, 11899, 11900, 11930, 11950, 11960, 11970, 11980, 11982, 11989, 11990, 11995, 11999, 12000, 12100, 12150, 12190, 12199, 12200, 12250, 12290, 12299, 12300, 12333, 12340, 12349, 12350, 12390, 12395, 12399, 12400, 12449, 12450, 12470, 12480, 12490, 12499, 12500, 12549, 12550, 12560, 12580, 12590, 12599, 12600, 12690, 12696, 12699, 12700, 12750, 12777, 12780, 12790, 12799, 12800, 12850, 12860, 12888, 12889, 12890, 12898, 12899, 12900, 12950, 12970, 12980, 12986, 12990, 12995, 12998, 12999, 13000, 13049, 13100, 13150, 13199, 13200, 13250, 13290, 13299, 13300, 13333, 13349, 13350, 13362, 13383, 13387, 13390, 13399, 13400, 13450, 13480, 13490, 13498, 13499, 13500, 13520, 13550, 13555, 13560, 13599, 13600, 13650, 13680, 13700, 13750, 13780, 13790, 13798, 13799, 13800, 13850, 13888, 13890, 13899, 13900, 13911, 13950, 13970, 13975, 13980, 13988, 13990, 13995, 13999, 14000, 14050, 14100, 14190, 14199, 14200, 14230, 14250, 14290, 14299, 14300, 14321, 14337, 14350, 14390, 14399, 14400, 14444, 14450, 14489, 14490, 14498, 14499, 14500, 14525, 14550, 14590, 14599, 14600, 14699, 14700, 14750, 14790, 14800, 14850, 14863, 14880, 14888, 14890, 14899, 14900, 14950, 14980, 14986, 14990, 14995, 14998, 14999, 15000, 15099, 15100, 15186, 15199, 15200, 15249, 15250, 15290, 15298, 15299, 15300, 15350, 15390, 15399, 15400, 15413, 15450, 15470, 15480, 15490, 15492, 15499, 15500, 15550, 15555, 15590, 15600, 15650, 15670, 15700, 15749, 15750, 15777, 15799, 15800, 15823, 15850, 15870, 15880, 15888, 15890, 15899, 15900, 15911, 15950, 15990, 15999, 16000, 16100, 16150, 16190, 16200, 16250, 16290, 16299, 16300, 16333, 16350, 16375, 16390, 16399, 16400, 16450, 16480, 16490, 16499, 16500, 16550, 16590, 16599, 16600, 16650, 16660, 16666, 16680, 16690, 16699, 16700, 16750, 16790, 16799, 16800, 16830, 16845, 16850, 16880, 16890, 16899, 16900, 16950, 16960, 16975, 16980, 16990, 16995, 16998, 16999, 17000, 17100, 17149, 17190, 17200, 17249, 17250, 17290, 17299, 17300, 17350, 17400, 17419, 17450, 17490, 17499, 17500, 17520, 17550, 17590, 17599, 17600, 17650, 17695, 17699, 17700, 17750, 17777, 17799, 17800, 17830, 17850, 17890, 17899, 17900, 17950, 17980, 17989, 17990, 17996, 17999, 18000, 18090, 18100, 18150, 18200, 18250, 18299, 18300, 18310, 18350, 18399, 18400, 18430, 18450, 18470, 18490, 18499, 18500, 18550, 18599, 18600, 18650, 18699, 18700, 18750, 18790, 18798, 18799, 18800, 18850, 18888, 18890, 18900, 18940, 18950, 18977, 18990, 18999, 19000, 19100, 19121, 19199, 19200, 19299, 19300, 19350, 19399, 19400, 19444, 19450, 19480, 19490, 19499, 19500, 19550, 19599, 19600, 19650, 19666, 19690, 19699, 19700, 19750, 19777, 19780, 19800, 19850, 19890, 19900, 19911, 19950, 19968, 19970, 19980, 19990, 19995, 19998, 19999, 20000, 20123, 20150, 20199, 20200, 20222, 20250, 20290, 20299, 20300, 20390, 20399, 20400, 20450, 20480, 20490, 20495, 20499, 20500, 20550, 20589, 20590, 20595, 20650, 20700, 20750, 20790, 20799, 20800, 20850, 20888, 20890, 20900, 20911, 20950, 20980, 20985, 20987, 20990, 20999, 21000, 21049, 21111, 21200, 21250, 21275, 21299, 21300, 21400, 21444, 21450, 21490, 21499, 21500, 21590, 21599, 21600, 21690, 21700, 21750, 21780, 21790, 21800, 21850, 21888, 21890, 21900, 21950, 21959, 21980, 21990, 21995, 21999, 22000, 22199, 22200, 22222, 22250, 22280, 22290, 22299, 22300, 22399, 22400, 22450, 22490, 22499, 22500, 22555, 22580, 22600, 22650, 22690, 22700, 22750, 22790, 22799, 22800, 22850, 22880, 22890, 22899, 22900, 22950, 22980, 22989, 22990, 22996, 22999, 23000, 23123, 23200, 23233, 23250, 23300, 23333, 23350, 23400, 23450, 23490, 23499, 23500, 23540, 23590, 23600, 23650, 23700, 23750, 23790, 23799, 23800, 23850, 23890, 23899, 23900, 23950, 23989, 23990, 23999, 24000, 24150, 24200, 24242, 24290, 24300, 24350, 24360, 24400, 24444, 24450, 24480, 24490, 24499, 24500, 24550, 24600, 24699, 24750, 24790, 24800, 24850, 24888, 24890, 24895, 24900, 24950, 24980, 24987, 24990, 24999, 25000, 25100, 25200, 25250, 25300, 25350, 25390, 25400, 25450, 25490, 25499, 25500, 25590, 25600, 25650, 25698, 25699, 25750, 25800, 25850, 25880, 25900, 25980, 25987, 25990, 25999, 26000, 26150, 26200, 26250, 26294, 26300, 26390, 26400, 26450, 26499, 26500, 26600, 26660, 26700, 26725, 26750, 26800, 26849, 26850, 26899, 26900, 26950, 26990, 26999, 27000, 27020, 27250, 27280, 27299, 27300, 27350, 27400, 27450, 27490, 27499, 27500, 27600, 27650, 27690, 27700, 27750, 27777, 27800, 27850, 27900, 27950, 27990, 27999, 28000, 28200, 28290, 28300, 28399, 28400, 28450, 28470, 28490, 28499, 28500, 28600, 28700, 28750, 28800, 28850, 28900, 28950, 28990, 28999, 29000, 29200, 29250, 29300, 29333, 29350, 29380, 29400, 29445, 29450, 29490, 29499, 29500, 29550, 29600, 29699, 29700, 29750, 29777, 29800, 29850, 29890, 29900, 29950, 29970, 29980, 29989, 29990, 29999, 30000, 30200, 30400, 30499, 30500, 30570, 30650, 30700, 30800, 30888, 30899, 30900, 30933, 30950, 30987, 30990, 30999, 31000, 31111, 31199, 31200, 31313, 31400, 31450, 31490, 31499, 31500, 31600, 31799, 31800, 31900, 31950, 31990, 31999, 32000, 32150, 32222, 32400, 32490, 32500, 32700, 32800, 32900, 32949, 32950, 32990, 32999, 33000, 33200, 33300, 33449, 33490, 33499, 33500, 33600, 33650, 33700, 33750, 33777, 33800, 33850, 33900, 33950, 33980, 33990, 33999, 34000, 34150, 34490, 34499, 34500, 34550, 34650, 34750, 34800, 34850, 34890, 34900, 34940, 34950, 34980, 34990, 34996, 34999, 35000, 35222, 35370, 35450, 35460, 35499, 35500, 35555, 35700, 35790, 35800, 35890, 35900, 35911, 35950, 35980, 35990, 35999, 36000, 36500, 36675, 36800, 36850, 36900, 36999, 37000, 37300, 37400, 37450, 37480, 37499, 37500, 37700, 37750, 37800, 37850, 37900, 37950, 37999, 38000, 38200, 38400, 38450, 38500, 38700, 38760, 38800, 38850, 38900, 38950, 38990, 38999, 39000, 39300, 39500, 39700, 39800, 39890, 39900, 39911, 39979, 39990, 39999, 40000, 40400, 40499, 40500, 40800, 40850, 40900, 40990, 40999, 41000, 41500, 41800, 41850, 41900, 41999, 42000, 42222, 42500, 42750, 42760, 42800, 42900, 42990, 42996, 42999, 43000, 43461, 43500, 43900, 44000, 44200, 44444, 44497, 44499, 44500, 44777, 44900, 44990, 44996, 45000, 45500, 45800, 45900, 45949, 45950, 46000, 46200, 46500, 46800, 46900, 46911, 46990, 46999, 47000, 47499, 47500, 47800, 47900, 47950, 47997, 48000, 48300, 48490, 48500, 48600, 48700, 48850, 48888, 48900, 48999, 49000, 49500, 49900, 49999, 50000, 50500, 50900, 51000, 51500, 51900, 51990, 51999, 52000, 52500, 52900, 52911, 53000, 53500, 53900, 54500, 54990, 55000, 55500, 55555, 55800, 55900, 55996, 55999, 56000, 56500, 56800, 56900, 57800, 58500, 58700, 58900, 59000, 59500, 59850, 60000, 61500, 61900, 61950, 61999, 62000, 62900, 63000, 63499, 63999, 64280, 64500, 64600, 64900, 64990, 64999, 65000, 65699, 65700, 65990, 66500, 66964, 67000, 67911, 68000, 68300, 68500, 68750, 68900, 69500, 69900, 69993, 69997, 69999, 70000, 70850, 71000, 72500, 72600, 72900, 73500, 73900, 73996, 74900, 74999, 75000, 75900, 75997, 76997, 78911, 79500, 79933, 79980, 79999, 80000, 82987, 83000, 84000, 84997, 85000, 86500, 88900, 89000, 89900, 93000, 93911, 94999, 98500, 99000, 99900, 104900, 105000, 109999, 114400, 115000, 115991, 116000, 119500, 119900, 120000, 128000, 129000, 130000, 135000, 137999, 139997, 145000, 151990, 155000, 163500, 163991, 169000, 169999, 175000, 180000, 190000, 194000, 197000, 198000, 220000, 250000, 259000, 265000, 295000, 299000, 345000, 350000, 999990, 999999, 1234566, 1300000, 3890000, 10000000, 11111111, 12345678, 27322222, 99999999]

It seems like 300k is a good cut-off for prices to consider. Upwards of 300k prices tend to increase to the improbable.

In [158]:
autos = autos[autos["price"].between(1, 301000)]

In [169]:
print(autos["price"].value_counts())

500      779
1500     732
2500     640
1000     639
1200     639
        ...
414        1
79933      1
5198       1
18890      1
16995      1
Name: price, Length: 2343, dtype: int64

In [168]:
autos["price"].describe()

count     48512.000000
mean       5876.340452
std        8793.510699
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      299000.000000
Name: price, dtype: float64

After removing the outliers, the price column looks good now.

### Explore the date columns

In [173]:
autos.dtypes

date_crawled          datetime64[ns]
name                          object
seller                        object
offer_type                    object
price                          int32
ab_test                       object
vehicle_type                  object
registration_year            float64
gearbox                       object
power_ps                     float64
model                         object
odometer_km                    int32
registration_month           float64
fuel_type                     object
brand                         object
unrepaired_damage             object
ad_created            datetime64[ns]
num_pictures                 float64
postal_code                  float64
last_seen             datetime64[ns]
dtype: object

In [182]:
print(autos["date_crawled"].dt.date)

0        2016-03-26
1        2016-04-04
2        2016-03-26
3        2016-03-12
4        2016-04-01
            ...
49995    2016-03-27
49996    2016-03-28
49997    2016-04-02
49998    2016-03-08
49999    2016-03-14
Name: date_crawled, Length: 48512, dtype: object

In [185]:
autos["date_crawled"].dt.date.value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2016-03-05    0.025355
2016-03-06    0.013997
2016-03-07    0.035991
2016-03-08    0.033332
2016-03-09    0.033126
2016-03-10    0.032178
2016-03-11    0.032610
2016-03-12    0.036939
2016-03-13    0.015666
2016-03-14    0.036506
2016-03-15    0.034239
2016-03-16    0.029622
2016-03-17    0.031662
2016-03-18    0.012904
2016-03-19    0.034754
2016-03-20    0.037929
2016-03-21    0.037393
2016-03-22    0.033023
2016-03-23    0.032178
2016-03-24    0.029333
2016-03-25    0.031621
2016-03-26    0.032198
2016-03-27    0.031064
2016-03-28    0.034857
2016-03-29    0.034115
2016-03-30    0.033682
2016-03-31    0.031827
2016-04-01    0.033703
2016-04-02    0.035455
2016-04-03    0.038568
2016-04-04    0.036486
2016-04-05    0.013110
2016-04-06    0.003174
2016-04-07    0.001402
Name: date_crawled, dtype: float64